

 .hh{
    background-color: #f72210;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    padding-left: 5px;
    justify-content: space-between;
}

.im{
    max-width: 500px;
    height: 100%;
}
body{
    box-sizing: border-box;
}
.w{
    width: 25px;
}
@media (min-width:1000px) 
{
.left-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}
.t{
    display: flex;
    justify-content: center;
   align-items: center;
}
.pp{
    display: flex;
    flex-direction: row;
}
.right{
   justify-content:space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
}
}
.butt{
    height: 30px;
    background-color: yellow;
    color: black;
    border-radius: 24px;
    border: 0px solid yellow;
    cursor: pointer;
}
.m{
margin: auto;
}